#topbar {
    width: 100%;
}

#topbar nav {
    width: 100%;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5rem;
    padding: 1rem 0rem;
}

.nav-bar li {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.38462;
}

.nav-bar li:hover {
    text-decoration: underline;
}
